*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.community-container {
  max-width: 480px;
  margin: auto;
  padding: 10px;
  background: linear-gradient(to bottom, #002a5c, #004a99);
  color: white;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  overflow-y: auto;
}
.search-bar {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

.search-bar input {
  width: 100%;
  padding: 10px 40px 10px 16px; /* space for the icon on the right */
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  
  background-color: rgb(129, 161, 224);
  color: #333;
}

.search-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 30px;
  color: #666;
  cursor: pointer;
}



.post-input {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;

}

.post-input input {
 width: 100%;
  padding: 10px 40px 10px 16px; /* space for the icon on the right */
  border: 1px solid #ccc;
  border-radius: 13px;
  font-size: 16px;
  outline: none;
  background-color: rgb(129, 161, 224);
  color: #333;
}

.camera-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 30px;
  color: #666;
  cursor: pointer;
}

.post-card {
  background: #0059b3;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 10px;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-avatar {
  width: 35px;
  height: 35px;
  background: lightgray;
  border-radius: 50%;
}

.username {
  font-weight: bold;
}

.time {
  margin-left: auto;
  font-size: 12px;
  opacity: 0.7;
}

.video-thumbnail {
  position: relative;
  margin-top: 10px;
}

.video-thumbnail img {
  width: 100%;
  border-radius: 10px;
  margin: 20px 0;
}

.play-button {
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.post-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 20px;
}

.challenge-btn {
  background: #0073e6;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
.icon {
  font-size: 30px;
  font-weight: bold;
  margin-right: 6px;
  vertical-align: middle;
  
}
.profile {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
 
  align-items: center;
  justify-content: center;
}